* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: max-content;
  background: #f6f6f6;
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  transition: all 0.3s linear;
}
button:active {
  transform: scale(0.9);
}
label {
  display: block;
  color: #030102;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 8px !important;
}
::placeholder {
  color: #9ea8bd;
}
input {
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
}
input:focus {
  border: 1px solid transparent;
}
input:active {
  border: 1px solid transparent;
}
input:focus-visible {
  border: 1px solid transparent !important;
  outline: none;
}
header {
  position: sticky;
  top: 0;
  z-index: 5;
}
.header__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.sidenav {
  position: fixed;
  width: 248px;
  height: 100%;
  overflow-y: scroll;
}

.sidenav ul > li {
  width: 100%;
  padding: 15px 12px 15px 24px;
  transition: all 0.3s linear;
}
.sidenav ul > li:hover a {
  color: #185c98;
  background: #f6f6f6;
}
.sidenav ul > li:hover {
  background: #f6f6f6;
  cursor: pointer;
}
.sidenav ul > li:hover svg {
  fill: red;
}

.sidenav ul li img:nth-child(1) {
  margin-right: 8px;
}
.sidenav ul li img:nth-child(2) {
  margin-left: auto;
}
.sidenav ul li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #2b2d33;
  transition: all 0.3s linear;
}

.main {
  margin-left: 270px;
  margin-top: 20px;
  margin-right: 20px;
}
.main_back {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  display: flex;
  gap: 8px;
  color: #808185;
  cursor: pointer;
  transition: all 0.4s linear;
}

.main_back:hover {
  color: #185c98;
}
.main_back i {
  display: contents;
}

.help_main {
  width: 100%;
  height: 100%;
  background: white;
  padding: 24px;
  margin-top: 20px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: black;
}
.help_main > p:nth-child(1) {
  font-size: 24px;
}
.help_main p {
  font-size: 16px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 0.875em;
}

.product__main {
  margin-top: 16px;
  background: white;
  border-radius: 12px;
  padding: 16px;
  padding-top: 20px;
}

.product__card {
  margin-top: 24px;
  background: #f8f8f8;
  border-radius: 8px;
  padding: 24px;
}

.product__card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.yellow-btn {
  background: #fee600;
  padding: 9px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  border-radius: 8px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: center;
  justify-content: center;
}
.white-btn {
  background: white;
  padding: 9px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  border-radius: 8px;
  border: 1px solid #d5d5d6;
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: center;
  justify-content: center;
}

.product__main .description {
  padding: 20px;
  border-radius: 12px;
  background: #f8f8f8;
  margin-top: 12px;
}

.product__main .description h5 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #aaabad;
  width: 40%;
}

.product__main .description p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #2b2d33;
  width: 60%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.product__main .description img {
  max-height: 675px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 12px;
  margin-top: 12px;
}
.product__main .description div {
  display: flex;
  margin-bottom: 12px;
}
.product__main .description div:last-child {
  margin-bottom: 0;
}
select {
  width: 121px;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #d5d5d6;
}
select:focus-visible {
  border: 1px solid #d5d5d6;
}

.product__main h3 {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #030102;
  margin-bottom: 20px;
}
.myInput {
  background-color: #e2e6ee;
  transition: background-color 0.3s;
}

.not-empty {
  background-color: white !important;
  box-shadow: 0 0 5pt 2pt #d3d3d3;
  outline-width: 0px;
}

.error-border {
  border: 1px solid red;
}

.not-empty {
  border: transparent;
}

.verify-text {
  font-weight: 300;
  font-size: 13px;
  margin-top: 4px;
  text-align: center;
}
.form_price {
  font-weight: 500;
  font-size: 24px;
  text-align: right;
  margin-top: 12px;
  margin-bottom: 12px;
}

.product-status {
  height: 80vb;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.product-status img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.product-status .yellow-btn {
  width: max-content;
  margin: 0 auto;
}
.order__info {
  display: flex;
  gap: 4px;
  align-items: center;
}

.order-info {
  display: flex;
  gap: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.order__info p {
  color: #667085;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.order__info span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.order-info-truck p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #12b76a;
}

.hr {
  border: 0.5px solid #d0d5dd;
}
.order-information-dot {
  width: 28px;
  height: 22px;
  border-radius: 11px;
  display: block;
  background: #d0d5dd;
}
.order-information-line {
  position: absolute;
  top: 8px;
  width: 100%;
  height: 6px;
  background: #d0d5dd;
}

.order-information h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #d0d5dd;
}
.order-information h5:first-child {
  color: #12b76a;
}
.order-information-dot:first-child {
  background: #12b76a;
  z-index: 1;
}

.order-information h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}
.product-card {
  margin-top: 30px;
}
.product-card-img {
  display: flex;
  align-items: center;
}
.product-card-img img {
  width: 110px;
  height: 110px;
  border-radius: 17px;
  margin-right: 24px;
  object-fit: cover;
}
.product-card-img h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #344054;
  margin-bottom: 16px;
}
.product-card-img div p {
  border-right: 1px solid #d0d5dd;
  margin-right: 12px;
  padding-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}
.product-card-img div p:last-child {
  border: none;
}
.product-card-info p:first-child {
  font-weight: 600;
  font-size: 20px;
  color: #1d2939;
  line-height: 30px;
}
.product-card-info p:last-child {
  color: #667085;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.footer__left {
  color: #475467;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.footer__right {
  color: #475467;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.footer__left p,
.footer__right p {
  margin-bottom: 8px;
}
.border-top {
  margin-top: 20px;
  border-top: 1px solid #d0d5dd;
  padding-top: 20px;
}
.product__main h4 {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 8px;
}

.payment__order p,
.order__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
}
.address__info {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #667085;
  width: 215px;
}
.index__product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.index__product .btns {
  display: none;
}
.index__product img {
  height: 300px;
  border-radius: 12px;
}


.active {
  background: #F8F8F8;
  position: relative;
  color: #185C98;
  transition: all 0.3s linear;
}
.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #185C98;
  width: 4px;
  height: 100%;
}
li {
  position: relative;
}